@font-face {
  font-family: "Pokemon Classic";
  src: url("Pokemon Classic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow:hidden;
    font-family:"Pokemon Classic", sans-serif;
}

#wrapper {
    background-color:black;
}

html, body{
    height:100%;
    margin:0;
    background-color:white;
    cursor:none;
}

.screenone {
    width: 100vw;
    min-height:100svh;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    background: url("Images/GradientIntro.jpg");
    background-size:cover;
    transition:opacity 1s ease;
    z-index:-1;
    opacity:1;

}

.screenone.show, .screentwo.show ,.screenthree.show ,.abt__me.show ,.project1.show{
    opacity:0;
}



.intro{
    display:flex;
    flex-direction:column;
    justify-content: center;
    border:transparent;
    align-items: center;
    gap:12px;
    
}



.intro img {
    border:transparent;
    display:block;
    max-width:(70vw, 800px);
    height:auto;
    max-height: 60svh;
}

.intro h2 {
    margin-top:0;
    font-weight:bold;
    color:brown;
    background-color:transparent;
    text-align:center;
    font-size:30px;
}

.screentwo {
    display:none;
    background-color:black;
    height:100vh;
    width:100%;
    flex-direction:column;
    justify-content:flex-end;
    padding:0 10px;
    align-items:center;
    transition:opacity 1s ease;
    z-index:-1;
    opacity:1;
}






.dialogue {
    height:35vh;
    width: 100%;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    position:relative;
    background-color:transparent;

}

.dialogue img {
    width:100%;
    height:100%;
}
.words {
    inset:17% 2%;
    line-height: 1.75;
    position:absolute;
    color:white;
    background-color:transparent;
    justify-content:flex-start;
    font-size: clamp(14px, 1.5cqw, 30px);
}

.typevalue {
    display:none;
}

.screenthree {
    width: 100%;
    min-height:100svh;
    display:none;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    height:100vh;
    transition:opacity 1s ease;
    z-index:-1;
    opacity:1;
    padding:0 10px;
}



.outter__suitcase {
    height:65vh;
    width:40vw;
    border:transparent;
    display:flex;
    position:relative;
    justify-content:center;
    align-items:center;
}

#sc {
    height: 65vh;
    width:34vw;
}



#triangle__selector {
    position:absolute;
    top:0;
    left:0;
    height:0;
    width:0;
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 40px solid rgb(208, 0, 0);
    
}


.abt__me  {
    display:none;
    height:100vh;
    width:100vw;
    justify-content:flex-start;
    align-items:center;
    transition:opacity 1s ease;
    z-index:-1;
    opacity:1;
    background-image:url("Images/select_bg.png");
    background-size:cover;
    flex-direction:column;
    gap:15px;
    padding: 5px 0;
}

.proj__holder {
    flex:1;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,auto);
    gap:2em;
    border:10px solid rgb(0, 0, 0);
    width:100%;
    height:100%;
    
}

.proj__box {
    height:95%;
    width:100%;
}

.pbox {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    transform:scale(1);
    transition: filter .2s ease, transform .2s ease;
}

.pbox.selected {
    filter:
    drop-shadow(0 0 20px rgb(4, 134, 255))
    drop-shadow(0 0 40px rgba(4, 134, 255, 0.808)); 
  transform: scale(1.01);
}
.abt__me__heading {
    justify-content:flex-start;
    width:100%;
    height:9%;
}

.abt__me h2 {
    background-image:linear-gradient(rgb(165, 165, 165),white,rgb(165, 165, 165));
    border-radius: 15px;
    border:3px solid rgb(82, 82, 82);
    width:70%;
    height:100%;
    padding:10px 15px;
}

.highlight {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,auto);
    gap:2em;
    border:10px solid blue;
    width:100%;
    height:90%;
    background-color:rgb(140, 140, 239);
    opacity: 0;
}

button {
    background-color:transparent;
    border:none;
}

.project1 {
    display:flex;
    height: 100vh;
    width:100%;
    justify-content:flex-start;
    align-items:flex-start;
    background-color:rgba(241, 255, 230, 0.926);
    flex-direction:column;
    z-index:-1;
    opacity:1;
    transition:opacity 1s ease;
    
}

.project__heading{
    display:flex;
    background-color:blue;
    color:white;
    height:10%;
    width:100%;
    font-size:3em;
    text-align:center;
    padding: 0 30px;

}

.left__half {
    border: 10px solid black;
    height: 100%;
    width: 45%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    
    gap:20px;

}

.name {
    margin-top:2em;
    border-radius:20px;
    height:15%;
    width:90%;
    background-image:linear-gradient(to bottom, rgb(255, 253, 112) 0%,rgb(255, 253, 112) 50%, white 50%, white 100%);
    padding:4px 17px;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    gap: 12px;
}

.left__half img {
    height:3em;
    width: 3em;
    
}

.left__half h2 {
    font-size:29px;
    
}

.icon__container{
    border-radius:20px;
    height:55%;
    width:65%;
    background: repeating-linear-gradient(
    to bottom,
    rgb(246,255,239) 0 4px,
    rgb(224, 224, 255) 4px 8px
);
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 8px;
    gap: 20px;

}

.inner__icon__container {
    border-radius:20px;
    height:80%;
    width:80%;
    background: repeating-linear-gradient(
    to bottom,
    rgb(246,255,239) 0 4px,
    rgb(201, 201, 255) 4px 8px
);    
    background-position-y:1px;
    display:flex;
    align-items:center;
    justify-content:center;

}

#FAVICON {
    width:80%;
    height:90%;
}

.bottom__box{
    height:23%;
    width:110%;
    margin-top:auto;
    background:linear-gradient(to bottom,  rgb(255, 253, 112) 0%,rgb(255, 253, 112) 50%, white 50%, white 100%);
}



