@font-face {
  font-family: "Pokemon Classic";
  src: url("Pokemon Classic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}




*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow:hidden;
    font-family:"Pokemon Classic", sans-serif;
    font-weight:bold;
}


#wrapper {
    background-color:black;
}


html, body{
    height:100%;
    margin:0;
    background-color:white;
    cursor:none;
}


.screenone {
    width: 100vw;
    min-height:100svh;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    background: url("Images/GradientIntro.jpg");
    background-size:cover;
    transition:opacity 1s ease;
    z-index:-1;
    opacity:1;
    visibility:visible;


}


.screenone.show, .screentwo.show ,.screenthree.show ,.abt__me.show ,.project1.show{
    opacity:0;
}






.intro{
    display:flex;
    flex-direction:column;
    justify-content: center;
    border:transparent;
    align-items: center;
    gap:12px;
   
}






.intro img {
    border:transparent;
    display:block;
    max-width:(70vw, 800px);
    height:auto;
    max-height: 60svh;
}


.intro h2 {
    margin-top:0;
    font-weight:bold;
    color:brown;
    background-color:transparent;
    text-align:center;
    font-size:30px;
}


.screentwo {
    display:none;
    background-color:black;
    height:100vh;
    width:100%;
    flex-direction:column;
    justify-content:flex-end;
    padding:0 10px;
    align-items:center;
    transition:opacity 1s ease;
    z-index:-1;
    opacity:1;
    visibility: visible;
}












.dialogue {
    height:35vh;
    width: 100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    position:relative;
    background-color:transparent;


}




.dialogue img {
    width:100%;
    height:100%;
}
.words {
    inset:17% 2%;
    line-height: 1.75;
    position:absolute;
    color:white;
    background-color:transparent;
    justify-content:flex-start;
    font-size: clamp(14px, 1.5cqw, 30px);
}


.typevalue {
    display:none;
}


.screenthree {
    width: 100%;
    min-height:100svh;
    display:none;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    height:100vh;
    transition:opacity 1s ease;
    z-index:-1;
    opacity:1;
    padding:0 10px;
}






.outter__suitcase {
    height:65%;
    width:50%;


    display:flex;
    position:relative;
    justify-content:center;
    align-items:center;
 
}


#sc {
    height: 100%;
    width:80%;
}






#triangle__selector {
    position:absolute;
    top:54%;
    left:42%;
    height:0;
    width:0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid rgb(208, 0, 0);
   
}




.abt__me  {
    display:none;
    height:100vh;
    width:100vw;
    justify-content:flex-start;
    align-items:center;
    transition:opacity 1s ease;
    z-index:-1;
    opacity:1;
    background: repeating-linear-gradient(
        to bottom, 
        rgb(94, 121, 69) 0,
        rgb(94, 121, 69) .75%,
        rgb(111, 133, 90) .75%,
        rgb(111, 133, 90) 1.5%
    );
    background-size:cover;
    flex-direction:column;
    gap:15px;
    padding: 5px 0;
}


.proj__holder {
    flex:1;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,auto);
    gap:1%;
    padding-top:.5%;

    width:100%;
    height:100%;
   
}


.proj__box {
    height:95%;
    width:100%;
}


.pbox {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    transform:scale(1);
    transition: filter .2s ease, transform .2s ease;
}


.pbox.selected {
    filter:
    drop-shadow(0 0 20px rgb(4, 134, 255))
    drop-shadow(0 0 40px rgba(4, 134, 255, 0.808));
  transform: scale(1.01);
}
.abt__me__heading {
    justify-content:flex-start;
    width:100%;
    height:9%;
}


.abt__me h2 {
    background-image:linear-gradient(rgb(165, 165, 165),white,rgb(165, 165, 165));
    border-radius: 15px;
    border:3px solid rgb(82, 82, 82);
    width:70%;
    height:100%;
    padding:10px 15px;
}








.project1 {
    display:flex;
    height: 100vh;
    width:100%;
    justify-content:flex-start;
    align-items:flex-start;
    background-color:rgba(241, 255, 230, 0.926);
    flex-direction:column;
    z-index:-1;
    opacity:1;
    transition:opacity 1s ease;

   
}


.project__heading{
    display:flex;
    background-color:blue;
    color:white;
    height:10%;
    width:100%;
    font-size:3em;
    text-align:center;
    padding: 0 30px;


}


.project__body {
    height:90%;
    width:100%;
    display:flex;
    justify-content:flex-start;
}


.left__half {
    height: 100%;
    width: 45%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    gap:20px;


}


.name {
    margin-top:2em;
    border-radius:20px;
    height:15%;
    width:90%;
    background-image:linear-gradient(to bottom, rgb(255, 253, 112) 0%,rgb(255, 253, 112) 50%, white 50%, white 100%);
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    padding-left:2.5%;

   


}


.tophalfbox{
    display:flex;
    width:100%;
    height:100%;
    justify-content:flex-start;
    gap: 12px;
}


.name img {
    height:100%;
    width: 8%;
   
}


.name h2 {
    height:100%;
    width:80%;
    display:flex;
    align-items:center;
   
}


.icon__container{
    border-radius:20px;
    height:55%;
    width:65%;
    background: repeating-linear-gradient(
    to bottom,
    rgb(246,255,239) 0 4px,
    rgb(224, 224, 255) 4px 8px
);
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 8px;
    gap: 20px;


}


.inner__icon__container {
    border-radius:20px;
    height:80%;
    width:80%;
    background: repeating-linear-gradient(
    to bottom,
    rgb(246,255,239) 0 4px,
    rgb(201, 201, 255) 4px 8px
);    
    display:flex;
    align-items:center;
    justify-content:center;


}


#FAVICON {
    width:80%;
    height:90%;
}


.bottom__box{
    height:23%;
    width:100%;
    background:linear-gradient(to bottom,  rgb(255, 253, 112) 0%,rgb(255, 253, 112) 50%, white 50%, white 100%);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    padding-left:1.5%;
}
.bottom__box h2{
    height:100%;
    width:80%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}


.right__half {
    height:100%;
    width:55%;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    flex-direction:column;
    position:relative;
}




.stat__box {
    background: repeating-linear-gradient(
        to bottom,
        rgb(65, 175, 65) 0%,
        rgb(65, 175, 65) 10%,
        rgb(138, 228, 142) 10%,
        rgb(138, 228, 142) 20%
    );    
    height: 92%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    position:absolute;
    display: flex;
    z-index:0;
    border:2px solid black;
    
}

.stat__names {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    font-size: 2em;
    color: white;
}

.stat__names ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.stat__names li {
    display: flex;
    align-items: center;
    height: 10%; 
    width: 100%;
    padding-left: 10%;
}

.stat__numbers {
    background: repeating-linear-gradient(
        to bottom,
        rgb(247, 247, 180) 0%,
        rgb(247, 247, 180) 20%,
        white 20%,
        white 40%
    );
    height: 50%;
    width: 90%;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    border-radius: 20px;
    position:absolute;
    top:10%;
    
}

.stat__numbers ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    
}

.item {
    -webkit-text-stroke: .75px rgb(87, 87, 87);
    height: 20%; 
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:1.75em;
}

.username {
    color: rgb(65, 65, 255);
    -webkit-text-stroke: 1px rgb(170, 170, 252);
}

.type {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 2.5%;
}

.js, .css {
    height: 90%;
    width: 45%;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke:0;
    
}

.js {
    background-color: rgb(194, 46, 40);
    border-top:4px solid rgb(236, 71, 65);
    
}

.css {
    background-color: rgb(183, 183, 206);
    border-top:4px solid rgb(209, 209, 224);
}


.stat__numbers__box {
    width:55%;
    height:100%;
    position:relative;
}

.exp__bar {
    height:4%;
    width:90%;
    border:2px solid black;
    position:absolute;
    top:73%;
    border-radius:20px;
    background:linear-gradient(to right, rgb(132, 221, 206) 0%, rgb(132, 221, 206) 80%, white 80%, white 100%);
}

.navbar {
    height:8.25%;
    width:100%;
    z-index:2;
    display:flex;
    justify-content:flex-start;
    padding-left:4%;
    position:absolute;
    top:0;
    left:0;
    
}

.navbar__main {
    height:100%;
    width:10%;
    background-color:rgb(65, 175, 65);
    border:2px solid black;
    border-bottom:none;
    border-radius: 5px 5px 0 0;
    z-index:1;
    border-right:none;
}

.navbar__skills{
    height:100%;
    width:10%;
    background-color:rgb(255, 103, 103);
    border:2px solid black;
    border-bottom:2px solid black;
    border-radius:5px 5px 0 0;
    

}

.skill__box {
    background: repeating-linear-gradient(
        to bottom,
        rgb(255, 103, 103) 0%,
        rgb(255, 103, 103) 10%,
        rgb(255, 165, 165) 10%,
        rgb(255, 165, 165) 20%
    );    
    height: 92%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    position:absolute;
    display: flex;
    z-index:1;
    border:2px solid black;
    visibility: hidden;
    justify-content:center;
    align-items:flex-start;
}

.skills {
    height:100%;
    width:80%;
    position:relative;
    left:8%;
    
}

.skill__names {
    height:100%;
    width:100%;
}

.skill1, .skill2, .skill3, .skill4 {
    height:10%;
    width:100%;
    position:relative;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    color:white;
    font-size:1.5em;
    gap:3%;
}


.skill2{ 
    top:10%;
}

.skill3{
    top:20%;
}



.skill4 {
    top:30%;
}


.js__skill {
    display:flex;
    align-items:center;
    justify-content:center;
    height:90%;
    width:25%;
    border-radius:10px;
    position:relative;
    background-color: rgb(194, 46, 40);
    border-top:4px solid rgb(236, 71, 65);
}

.css__skill {
    display:flex;
    align-items:center;
    justify-content:center;
    height:90%;
    width:25%;
    border-radius:10px;
    position:relative;
    background-color: rgb(183, 183, 206);
    border-top:4px solid rgb(209, 209, 224);
}

.html__skill { 
    display:flex;
    align-items:center;
    justify-content:center;
    height:90%;
    width:25%;
    border-radius:10px;
    position:relative;
    background-color: rgb(111, 53, 252);
    border-top:4px solid rgb(146, 103, 255);
}


.no__skill {
    display:flex;
    align-items:center;
    justify-content:center;
    height:90%;
    width:25%;
    border-radius:10px;
    position:relative;
}

.pp {
    height:100%;
    width:100%;
    display:flex;
    align-items:flex-start;
    justify-content:flex-end;
    position:absolute;
    top:0;
    

}

.pp1, .pp2, .pp3, .pp4{
    height:9%;
    width:40%;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgb(0, 0, 0);
    font-size:1.5em;
    gap:3%;
    background-color:white;
    border-radius:10px;
    gap:20%;
}

.pp1 {
    top:10.5%;
}

.pp2 {
    top:30.5%;
}

.pp3 {
    top:50.5%;
}

.pp4 {
    top:70.5%;
}

.pos {
    height:7%;
    width:25%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    border:2px solid rgb(255, 103, 103);
    position:absolute;
    left:0;
}

.pos1 {
    top:11.5%;
}

.pos2 {
    top:31.5%;
}

.pos3  {
    top: 51.5%;
}

.pos4 {
    top:71.5%;
}

.pos > div {
    background:transparent;
    border:1px solid rgb(255, 103, 103);
}

.pos1 > div:nth-child(1) {
    background-color:rgb(255, 103, 103);
}

.pos2 > div:nth-child(2) {
    background-color:rgb(255, 103, 103);
}

.pos3 > div:nth-child(3) {
    background-color:rgb(255, 103, 103);
}

.pos4 > div:nth-child(4) {
    background-color:rgb(255, 103, 103);
}